<%
  local=feed_item.created_at.in_time_zone('Eastern Time (US & Canada)')
%>
<tr class="weightrow<%= local.strftime('%p') %>">
  <td class="weight">
    <%= feed_item.weight %>
  </td>
  <td class="utc">
    <%= feed_item.created_at.strftime('%I:%M%p %d %B, %Y %Z') %>
  </td>
  <td class="localtime">
    <%= local.strftime('%I:%M%p %d %B, %Y %Z') %>
  </td>
  <% if current_user?(feed_item.user) %>
    <td>
      <%= link_to "delete", feed_item,
        :method => :delete,
        :confirm => "You sure?",
        :title => feed_item.weight
      %>
    </td>
  <% end %>
</tr>

