<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="weight">Current Weight:</h1>
        <%= render 'shared/weight_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
  <%= link_to "Sign Out", signout_path, :class => "signout button round" %>  
<% else %>
  <%= link_to "Sign up now!", signup_path, :class => "signup button round" %>
  <%= link_to "Sign in", signin_path, :class => "signin button round" %>
  <div class="overview">
    <p class="summary">Ballastline is a weight-tracking application.</p>

    <p class="details">Enter your weight. It is plotted 
    on a graph. Over time, the line will slope downward if you are 
    losing weight, or upward if you are gaining it.

    <p class="details">
      It is a hobby project, being developed by Rob Drimmie. I have hopes 
      for future functionality, but I am not going to talk about them because
      I am not interested in promising anything. The codebase is available
      at <a href="https://github.com/rmdrimmie/ballast">https://github.com/rmdrimmie/ballast</a>
    </p>
    <div class="clear"></div>
  </div>
<% end %>
